{% extends "base.html" %}
{% load static %}

{% block content %}
<h2>Telegram</h2>
To try Telegram, login first: <br/>
<script async src="https://telegram.org/js/telegram-widget.js?8" data-telegram-login="GroundWorkerBot" data-size="large" data-auth-url="https://polar-plains-99906.herokuapp.com/login" data-request-access="write"></script>
<br/>
then go to <a href="/send">Send Message</a> page and send a reply
<hr/>
<h2>LINE</h2>
To try LINE, send a message to <img src="{% static "bot.png" %}" alt="Line bot"> 
<br/>
due to free account restrictions you have to immediately reply, do so by clicking <a href="/line-message-reply/">this link</a>
<hr/>
<h2>Viber</h2>
You need to add this bot as a contact: <img src="{% static "viber-bot.png" %}" alt="Viber bot">
<br/>
to reply to user's messages from bot's name you need to know sender ID (get it from admin -> Viber -> Messages)
{% endblock %}
